body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  margin: 0;
}

h2 {
  color: #25d366;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
}

input[type="submit"] {
  background-color: #25d366;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #1eae56;
}

#status {
  color: #25d366;
  text-align: center;
  margin-top: 10px;
}

button.translate-button {
  margin-left: 10px;
  cursor: pointer;
  padding: 2px 6px;
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 8px;
}

div {
  margin-top: 10px;
}
